.container {
    width: 1000px;
}

.main {
    background-color: #5959ff;
    box-sizing: border-box;
    color: white;
    width: 1000px;
    text-align: center;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b1 {
    height: 300px;
}

.b2 {
    height: 500px;
}

.column {
    box-sizing: border-box;
    background-color: #0000a4;
    height: 300px;
    width: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px;
    width: 1000px;
}
