body {
    position: relative;
}

.top-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff8e1;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    width: 100vh;
}

.button {
    background-color: #0000a4;
    box-sizing: border-box;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 150px;
}

.content {
    background-color: #0000a4;
    height: 500px;
    width: 100vh;
}

.boxes {
    background-color: #fff8e1;
    height: 300px;
    width: 100vh;
    position: relative;
}

.target {
    position: absolute;
    height: 200px;
    width: 100vh;
    display: flex;
    justify-content: space-evenly;
    bottom: 200px;

}

.box {
    background-color: #ccccff;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border-radius: 50px;
}